.nav-bar {
    /* Size and position */
    padding-left: 14px;
    padding-right: 14px;
    height: 60px;

    /* Style */

    /* Child layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar>.fylo-icon {
    height: 26px;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links>.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60px;
}

.nav-links>.nav-link>a {
    /* Style */
    color: white;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.nav-links>.nav-link>a:hover {
    font-weight: 700;
    text-decoration-line: underline;
}

.nav-features {
    cursor: pointer;
}